<div class="home-container box-shadow--4dp">
  <p class="header-font">Welcome to Workout of the Day</p>
  <hr>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere leo in facilisis rutrum. Mauris eget turpis sit amet neque congue condimentum eget sed erat. Vestibulum dignissim arcu non erat bibendum, vitae cursus lectus tempor. Vivamus vel congue massa. Maecenas finibus dictum ligula et pellentesque. Curabitur interdum feugiat metus quis pharetra. Fusce non aliquet lacus, et consectetur est. Integer cursus velit eget vestibulum aliquet. Sed ac maximus augue, at facilisis nulla. Pellentesque venenatis libero enim, id porta augue tincidunt sed. Duis sed lectus at felis auctor malesuada eu et neque. Curabitur sagittis et neque non scelerisque. Vestibulum eleifend eu justo non vestibulum. Pellentesque eu tempus augue.
  </p>
  </div>
