<div class="workout-list" ng-repeat="workout in vm.workouts | orderBy: '-fav_counter' | filter:{medium_weights:filter.medium_weights, heavy_weights:filter.heavy_weights, jumprope:filter.jumprope, resistance_bands:filter.resistance_bands, kettle_ball:filter.kettle_ball, slam_ball:filter.slam_ball, ab_mat:filter.ab_mat}">
         <h4>{{workout.title}} </h4>
         <span ng-click="vm.addFavCount(workout)">
            <i ng-class="{'glyphicon glyphicon-heart': liked, 'glyphicon glyphicon-heart-empty': !liked}" ng-click="liked=!liked"></i>
        </span>
         <p> Favorite: {{workout.favorite}} </p>
         <p> Fav'd: {{workout.fav_counter}} </p>
         <p> {{workout.workout_date | date:"MM/dd/yyyy"}} </p>
         <p>
         <span ng-show="workout.medium_weights">Medium Weights </span> <span ng-hide="workout.heavy_weights">Heavy Weights</span>
         | <span ng-show="workout.jumprope">Jumprope</span> <span ng-hide="workout.resistance_bands">Resistance Bands</span>
         | <span ng-show="workout.kettle_ball"> Kettle Ball</span> <span ng-hide="workout.slam_ball"> Slam Ball</span>
         </p>
         <p> {{workout.summary}} </p>
   </div>

   <div class="filter-form">
      <h4> Filter Workouts </h4>
      <p> Select one option from each line to filter your choices </p>
      <table id="radio-table">
          <tr>
             <td><input type="radio" ng-model="filter.medium_weights" value="true"> Medium Weights </td>
             <td><input type="radio" ng-model="filter.medium_weights" value="false"> Heavy Weights</td>
           </tr>
           <tr>
             <td><input type="radio" ng-model="filter.jump_rope" value="true"> Jumprope </td>
             <td><input type="radio" ng-model="filter.jump_rope" value="false"> Resistance Bands</td>
           </tr>
           <tr>
             <td> <input type="radio" ng-model="filter.kettle_ball" value="true"> Kettle Ball</td>
             <td><input type="radio" ng-model="filter.kettle_ball" value="false"> Slam Ball</td>
           </tr>
       </table>
   </div>

<form class="workout-form" ng-submit="vm.addWorkout()">
   <h4>Add a Workout</h4>
     <p> Title: <input type="text" ng-model="vm.title"> </p>
     <p> Warm-up: <input type="text" ng-model="vm.warm_up"> </p>
     <p> Rounds: <input type="text" ng-model="vm.rounds"> </p>
     <p> Set Length: <input type="text" ng-model="vm.set_length"> </p>
     <p> <input type="radio" ng-model="vm.medium_weights" ng-value="true"> Medium Weights <input type="radio" ng-model="vm.heavy_weights" ng-value="false"> Heavy Weights </p>
     <p> <input type="radio" ng-model="vm.jumprope" ng-value="true"> Jumprope <input type="radio" ng-model="vm.resistance_bands" ng-value="false"> Resistance Bands</p>
     <p> <input type="radio" ng-model="vm.kettle_ball" ng-value="true"> Kettle Bell <input type="radio" ng-model="vm.slam_ball" ng-value="false"> Slam Ball</p>
     <p><input type="radio" ng-model="vm.ab_mat" ng-value="false"> Ab Mat</p>
     <p> Summary: <input type="text" ng-model="vm.summary"> </p>
   <button ng-click="submit">Submit</button>
</form>
