  <!-- Angular Filter Forms -->
    <div class="filter-container" id="sticky-anchor">
      <div class="filter-form box-shadow--4dp" id="sticky">
        <h4>Filter Workouts</h4>
      <p> Select one equipment option from each line below to filter workouts</p>
      <hr>
      <table id="radio-table">
          <tr>
             <td><input type="radio" ng-model="filter.medium_weights" value="true"> Medium Weights </td>
             <td><input type="radio" ng-model="filter.medium_weights" value="false"> Heavy Weights</td>
           </tr>
           <tr>
             <td><input type="radio" ng-model="filter.jump_rope" value="true"> Jumprope </td>
             <td><input type="radio" ng-model="filter.jump_rope" value="false"> Resistance Bands</td>
           </tr>
           <tr>
             <td> <input type="radio" ng-model="filter.kettle_ball" value="true"> Kettle Ball</td>
             <td><input type="radio" ng-model="filter.kettle_ball" value="false"> Slam Ball</td>
           </tr>
       </table>
   </div>
    </div>

  <!-- Workouts List -->
    <div class="container-fluid">
       <div class="row">
       <div class="workout-list box-shadow--4dp animate-repeat" ng-repeat="workout in vm.workouts | orderBy: '-fav_counter'| filter:{medium_weights:filter.medium_weights, heavy_weights:filter.heavy_weights, jumprope:filter.jumprope, resistance_bands:filter.resistance_bands, kettle_ball:filter.kettle_ball, slam_ball:filter.slam_ball, ab_mat:filter.ab_mat}">

          <div class="workout-info">
         <h4> <a ng-model="workout._id">  {{workout.title}} </a> </h4>
         <div ng-click="vm.addFavCount(workout)">
           <i ng-class="{'glyphicon glyphicon-star': liked, 'glyphicon glyphicon-star-empty': !liked}" ng-click="liked=!liked"></i>
         <!-- <p> Favorite: {{activity.favorite}} </p> -->
          {{workout.fav_counter}}
         </div>
         <p> Date Posted: {{workout.workout_date | date:"MM/dd/yyyy"}} </p>
         <p>
         <span ng-show="workout.medium_weights">Medium Weights </span> <span ng-hide="workout.heavy_weights">Heavy Weights</span>
         | <span ng-show="workout.jumprope">Jumprope</span> <span ng-hide="workout.resistance_bands">Resistance Bands</span>
         | <span ng-show="workout.kettle_ball"> Kettle Ball</span> <span ng-hide="workout.slam_ball"> Slam Ball</span>
         </p>
         </div>
         <p> Summary: {{workout.summary}} </p>
         <hr>
         <div class="comment-container">
          <p>Comments:</p>
           <div class="comment-window">
             <p>Comments-</p>
             <div ng-repeat="comment in workout.comments">
               <p>  {{comment.author.name}} <small>({{comment.author.email}})</small>: : {{comment.body}} </p>
               <hr>
               </div>
       </div>
       </div>
       <span ng-hide="vm.isLoggedIn()">
         <p id="login-warn"> Please <a ui-sref-active="active" ng-hide="vm.isLoggedIn()"ui-sref="login"> log in </a> to comment! </p>
         </span>
         <span ng-show="vm.isLoggedIn()">
         <input class="comment-input" type="text" ng-model="comment.body" placeholder="Add comment here...">
         <button ng-click="vm.addComment(workout, comment)">Post</button>
       </span>
       </div>
       </div>
    </div>
