a {
    color: #00B7FF;
  }

 .workout-list {
   border: 1px solid black;
   margin: 5px;
   padding: 5px;
 }

 .workout-form {
  border: 1px dashed blue;
  margin: 5px;
  padding: 5px;
 }

 .comment-window {

border: 1px solid red;
margin: 5px;
padding: 5px;
}
